*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top
{
    height: 500px;
    width: 100%;
    background-color: rgb(190, 69, 89);
}
.main
{
    display: flex;
    margin-left: 350px;
}
.box1
{
    height: 150px;
    width: 350px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding: 30px;
}
.box1 button
{
    height: 40px;
    width: 90px;
    border-radius: 5px;
}
.box1 a
{
    animation-play-state: inherit;
}
.box2
{
    height: 150px;
    width: 350px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding: 30px;
}
.box3
{
    height: 150px;
    width: 350px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding: 30px;   
}
.box3 button
{
    height: 40px;
    width: 90px;
    border-radius: 5px;
}
.box2 button
{
    height: 40px;
    width: 90px;
    border-radius: 5px;
}
.box4
{
    height: 150px;
    width: 350px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    padding: 30px; 
}
.box4 button
{
    height: 40px;
    width: 90px;
    border-radius: 5px;  
}
.main2
{
    display: flex;
    margin-left: 350px;
}
.box2
{
    height: 150px;
    width: 350px;
    border: 1px solid black;
    background-color: white;
}