*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellow;
}
.main
{
    height: 400px;
    width: 500px;
    border: 2px solid black;
    background-color: aliceblue;
    margin: 150px auto;
    position: relative;
}
.box1
{
    height: 120px;
    width: 20px;
    border: 2px solid black;
    background-color: black;
    animation: up 4s linear infinite;
    position: absolute;
    left: 200px;
}
.box2
{
    height: 120px;
    width: 20px;
    border: 2px solid black;
    background-color: black;
    animation: down 4s linear infinite;
    position: absolute;
    left: 100px;
}
.circle
{
    height: 50px;
    width: 50px;
    border-radius: 40px;
    background-color: black;
    animation: rotate 4s ease-in-out infinite;
    position: absolute;
    left: 120px;
}
@keyframes up 
{
    0%
    {
        top: 0px;
        left: 480px;
    }
    50%
    {
        top: 180px;
        left: 480px;
    }
    100%
    {
        top: 0px;
        left: 480px;
    }
}
@keyframes down
{
    0%
    {
        top: 180 px;
        left: 0px;
    }
    50%
    {
        top: 0px;
        left: 0px;
    }
    100%
    {
        top: 180px;
        left: 0px;
    }
}
@keyframes rotate
{
    0%
    {
        top: 150px;
        left: 20px;
    }
    50%
    {
        top: 150px;
        left: 430px;
    }
    100%
    {
        top: 150px;
        left: 20px;
    }
}