*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box1
{
    height: 190px;
    width: 190px;
    border: 1px solid black;
    border-radius: 150px;
    background-color: yellow;
}
.c1
{
    height: 40px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 45px;
    margin-top: 50px;
    background-color: black;
    
}
.c2
{
    height: 40px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 80px;
    margin-top: 0px;
    background-color: black;
}
.box2
{
    height: 40px;
    width: 30px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 30px;
    margin-left:30px ;
    background-color: red;
}
.main
{
    animation: change 3s infinite;
    position: absolute;
}
@keyframes change
{
    0%
    {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }
    25%
    {
        left: 1000px;
        transform: rotate(360deg);
        transition: 3s;
        top: 0;
    }
    50%
    {
        top: 0px;
        left: 0px;
       
    }
    100%
    {
       left: 0;
        top: 0;
       
    }

}